:root {
  --bs-primary: #753f98 !important;
  --bs-success: #99ce65 !important;
  --bs-danger: #e10086;
  --bs-warning: #f9d523 !important;
  --bs-info: #90dcff;
  --bs-primary-rgb: 117, 63, 152 !important;
  --bs-success-rgb: 153, 206, 101 !important;
  --bs-danger-rgb: 225, 0, 134;
  --bs-warning-rgb: 249, 213, 35 !important;
  --bs-info-rgb: 144, 220, 255;
  --bs-primary-bg-subtle: #ccbcde !important;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#navbar-main .nav-link {
  --bs-nav-link-color: var(--bs-primary);
  --bs-nav-link-hover-color: var(--bs-primary);
  --bs-navbar-nav-link-padding-x: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#navbar-main .nav-link:hover {
  background-color: var(--bs-primary-bg-subtle);
}

#navbar-main .navbar-brand div span {
  transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#navbar-main .navbar-brand:hover div span {
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

#navbar-main .icon-link-hover>.bi {
  width: 0em;
  opacity: 0;
  transition: .2s ease-in-out transform, width 0.2s ease-in-out;
}

#navbar-main .icon-link-hover:hover>.bi {
  width: 1em !important;
  opacity: unset !important;
}

.pixels {
  position: relative;
}

.pixels::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 32px;
  z-index: 1;
  background: ;
}


.img-fun {
  top: -6rem;
}

.img-fun img {
  --bs-box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 60%);
}

@media (min-width: 1200px) {
  .img-fun {
    top: -12rem;
  }

  .main-home {
    max-height: 350px;
  }
}

.event-single-item {
  background-color: #1c1c27;
  border: 1px solid rgb(67 91 119 / 7%);
  box-shadow: 1px 1px 4px rgb(0 0 0 / 10%);
  display: flex !important;
  align-items: flex-start;
}

#penguins_text {
  margin-left: -0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.blur-2 {
  backdrop-filter: blur(2px);
}


.link-dark-hover {
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.link-dark-hover:hover {
  border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.meetup-placeholder {
  display: flex;
  height: 200px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img[alt="Ballarat Catchup"],
img[alt="Computerbank Farewell"],
img[alt="Lunch Meetup"],
img[alt="LUV Logo"] {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 1em 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  --bs-btn-bg: #803D99 !important;
  --bs-btn-border-color: #803D99 !important;
  --bs-btn-hover-bg: #753f98 !important;
  --bs-btn-hover-border-color: #753f98 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-bg: #753f98 !important;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-bg: #803D99 !important;
  --bs-btn-disabled-border-color: #803D99 !important;
}

.btn-outline-primary {
    --bs-btn-color: #803D99 !important;
    --bs-btn-border-color: #803D99 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #803D99 !important;
    --bs-btn-hover-border-color: #803D99 !important;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #803D99 !important;
    --bs-btn-active-border-color: #803D99 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #803D99 !important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #803D99 !important;
    --bs-gradient: none;
}


.section-divider svg {
  height: 80px;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.section-divider-top svg {
  transform: rotateX(180deg);
}

.section-divider-bottom svg {
  transform: scaleX(-1);
}

.hover-border-primary {
  transition: border-color 0.25s ease-in-out;
}

.hover-border-primary:hover {
  border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;
  --bs-border-opacity: 1 !important;
}


.hover-primary {
  transition: color 0.25s ease-in-out;
}

.hover-primary:hover {
  --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}